
<div class="py-5 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
 
          {%- if site.email -%}
            <li>
              <i class="fas fa-envelope"></i> <a href="mailto:clement.mazet@sciencespo.fr"> Email </a>
            </li>
          {%- endif -%}
            <li>
             <i class="fab fa-github"></i> <a href="https://github.com/CMS27"> Github </a>
            </li>
	  <li>
		<i class="ai ai-google-scholar-square"></i><a href="https://scholar.google.com/citations?user=4OFLH00AAAAJ&hl=fr"> Scholar </a>
           </li>
        </ul>
      </div>

    </div>

  </div>
</div>


<!---
<div class="page-footer py-5 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
 
            <li>
              <i class="fas fa-at fa-lg mr-2"> </i> <a href="mailto:clement.mazet@sciencespo.fr"> Email </a>
            </li>
						
            <li>
             <i class="fab fa-github fa-lg blue-text mr-2"></i> <a href="https://github.com/CMS27"> Github </a>
            </li>
        </ul>
      </div>

    </div>

  </div>
</div>
-->
