
<div class="py-5 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
 
          {%- if site.email -%}
            <li>
              <span class="glyphicon icon-envelope"></span> <i class="icon-envelope"></i><a href="mailto:clement.mazet@sciencespo.fr"> Email </a>
            </li>
          {%- endif -%}
          <li>
              <span class="glyphicon glyphicon-github"></span>  <a href="https://github/CMS27"> Github Page </a>
            </li>
        </ul>
      </div>

    </div>

  </div>
</div>
