<!---
<div class="py-5 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
 
          {%- if site.email -%}
            <li>
              <i class="fas fa-at"></i> <a href="mailto:clement.mazet@sciencespo.fr"> Email </a>
            </li>
          {%- endif -%}
            <li>
             <i class="fas fa-at"></i> <a href="https://github.com/CMS27"> Github </a>
            </li>
        </ul>
      </div>

    </div>

  </div>
</div>
-->

<!---
<div class="page-footer py-5 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
 
            <li>
              <i class="fas fa-at fa-lg mr-2"> </i> <a href="mailto:clement.mazet@sciencespo.fr"> Email </a>
            </li>
						
            <li>
             <i class="fab fa-github fa-lg blue-text mr-2"></i> <a href="https://github.com/CMS27"> Github </a>
            </li>
        </ul>
      </div>

    </div>

  </div>
</div>
-->

<!-- Footer -->
<div class="py-5 border-top">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="far fa-envelope blue-text fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-github fa-lg red-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fas fa-graduation-cap fa-lg green-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->


</div>
<!-- Footer -->
